<!DOCTYPE html>
<html lang="en">
  <div th:replace="fragments/head :: head"></div>

  <body>
    <!--*******************
        Preloader start
    ********************-->
    <div th:replace="fragments/preloader :: preloader"></div>

    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
      <!--**********************************
            Nav header start
        ***********************************-->
      <div th:replace="fragments/nav-header :: nav-header"></div>
      <!--**********************************
            Nav header end
        ***********************************-->

      <!--**********************************
            Header start
        ***********************************-->
      <div th:replace="fragments/header :: header"></div>
      <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

      <!--**********************************
            Sidebar start
        ***********************************-->
      <div th:replace="fragments/sidebar :: sidebar"></div>
      <!--**********************************
            Sidebar end
        ***********************************-->

      <!--**********************************
            Content body start
        ***********************************-->
      <div class="content-body">
        <div class="row page-titles mx-0">
          <div class="col p-md-0">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">Dashboard</a>
              </li>
              <li class="breadcrumb-item active">
                <a href="javascript:void(0)">Home</a>
              </li>
            </ol>
          </div>
        </div>
        <!-- row -->

        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">choose a product</h4>
                  <div class="col-lg-6">
                    <select
                      class="form-control"
                      id="productId"
                      name="productId"
                      required
                    >
                      <option disabled value="">Please select</option>
                      <option
                        th:each="product: ${products}"
                        th:value="${product.id}"
                        th:text="${product.name}"
                      ></option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">SGR</h4>
                  <canvas
                    id="sgr-chart"
                    width="671"
                    height="201"
                    style="display: block; height: 161px; width: 537px"
                    class="chartjs-render-monitor"
                  ></canvas>
                  <div class="d-flex justify-content-end mt-3">
                    <a th:href="@{/sgr/add}" class="btn btn-primary ml-auto">
                      Add SGR
                      <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </a>
                    <a th:href="@{/sgr/list}" class="btn btn-secondary ml-2">
                      List of SGR <i class="fa fa-list ml-2"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">CRR</h4>
                  <canvas
                    id="CRR-chart"
                    width="671"
                    height="201"
                    style="display: block; height: 161px; width: 537px"
                    class="chartjs-render-monitor"
                  ></canvas>
                  <div class="d-flex justify-content-end mt-3">
                    <a th:href="@{/crr/add}" class="btn btn-primary ml-auto">
                      Add CRR
                      <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </a>
                    <a th:href="@{/crr/list}" class="btn btn-secondary ml-2">
                      List of CRR <i class="fa fa-list ml-2"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- #/ container -->
      </div>
      <!--**********************************
            Content body end
        ***********************************-->

      <!--**********************************
            Footer start
        ***********************************-->
      <div class="footer">
        <div class="copyright">
          <p>
            Copyright &copy; Designed & Developed by
            <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018
          </p>
        </div>
      </div>
      <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script th:inline="javascript">
      $(document).ready(function () {
        var products= [[${products}]];
        var selectedProductId;
        generateCRRChart(products, selectedProductId);
        generateSGRChart(products, selectedProductId);
        $("#productId").change(function () {
          selectedProductId = $(this).val();
          generateCRRChart(products, selectedProductId);
          generateSGRChart(products, selectedProductId);
        });
      });
    </script>
    <script th:src="@{/front/plugins/common/common.min.js}"></script>
    <script th:src="@{/front/js/custom.min.js}"></script>
    <script th:src="@{/front/js/settings.js}"></script>
    <script th:src="@{/front/js/gleek.js}"></script>
    <script th:src="@{/front/js/styleSwitcher.js}"></script>

    <script th:src="@{/front/plugins/chart.js/Chart.bundle.min.js}"></script>
    <script th:src="@{/front/js/plugins-init/chartjs-init.js}"></script>
    <script th:src="@{/front/js/plugins-init/crr-chart.js}"></script>
    <script th:src="@{/front/js/plugins-init/sgr-chart.js}"></script>
  </body>
</html>
