<!DOCTYPE html>
<html lang="en">
  <div th:replace="fragments/head :: head"></div>

  <body>
    <!--**********************************
            Nav header start
        ***********************************-->
        <div th:replace="fragments/nav-header :: nav-header"></div>
        <!--**********************************
              Nav header end
          ***********************************-->
  
        <!--**********************************
              Header start
          ***********************************-->
        <div th:replace="fragments/header :: header"></div>
        <!--**********************************
              Header end ti-comment-alt
          ***********************************-->
  
        <!--**********************************
              Sidebar start
          ***********************************-->
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <!--**********************************
              Sidebar end
          ***********************************-->
    <!--**********************************
            Content body start
        ***********************************-->
      <div class="content-body">
        <div class="row page-titles mx-0">
          <div class="col p-md-0">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">Dashboard</a>
              </li>
              <li class="breadcrumb-item active">
                <a href="javascript:void(0)">Home</a>
              </li>
            </ol>
          </div>
        </div>
        <!-- row -->

        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="form-validation">
                    <form
                      class="form-valide"
                      th:action="@{/prospection_status/add}"
                      th:object="${prospectionStatus}"
                      method="post"
                      enctype="multipart/form-data"
                    >
                      <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="label"
                          >status <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-6">
                          <input
                            name="status"
                            placeholder="Enter a status.."
                            type="text"
                            th:field="*{status}"
                            class="form-control"
                            required
                            id="status"
                          />
                        </div>
                        <span
                          th:if="${#fields.hasErrors('status')}"
                          th:errors="*{status}"
                          class="text-danger"
                        ></span>
                      </div>
                      <div class="form-group row">
                        <div class="col-lg-8 ml-auto">
                          <button type="submit" class="btn btn-primary">
                            Submit
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- #/ container -->
      </div>
      <!--**********************************
            Content body end
        ***********************************-->

      <!--**********************************
            Footer start
        ***********************************-->
      <div class="footer">
        <div class="copyright">
          <p>
            Copyright &copy; Designed & Developed by
            <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018
          </p>
        </div>
      </div>
      <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script th:src="@{/front/plugins/common/common.min.js}"></script>
    <script th:src="@{/front/js/custom.min.js}"></script>
    <script th:src="@{/front/js/settings.js}"></script>
    <script th:src="@{/front/js/gleek.js}"></script>
    <script th:src="@{/front/js/styleSwitcher.js}"></script>
    <script
      th:src="@{/front/plugins/validation/jquery.validate.min.js}"
    ></script>
    <script
      th:src="@{/front/plugins/validation/jquery.validate-init.js}"
    ></script>

    <!-- Chartjs -->
    <script th:src="@{/front/plugins/chart.js/Chart.bundle.min.js}"></script>
    <!-- Circle progress -->
    <script
      th:src="@{/front/plugins/circle-progress/circle-progress.min.js}"
    ></script>
    <!-- Datamap -->
    <script th:src="@{/front/plugins/d3v3/index.js}"></script>
    <script th:src="@{/front/plugins/topojson/topojson.min.js}"></script>
    <script th:src="@{/front/plugins/datamaps/datamaps.world.min.js}"></script>
    <!-- Morrisjs -->
    <script th:src="@{/front/plugins/raphael/raphael.min.js}"></script>
    <script th:src="@{/front/plugins/morris/morris.min.js}"></script>
    <!-- Pignose Calender -->
    <script th:src="@{/front/plugins/moment/moment.min.js}"></script>
    <script
      th:src="@{/front/plugins/pg-calendar/js/pignose.calendar.min.js}"
    ></script>
    <!-- ChartistJS -->
    <script th:src="@{/front/plugins/chartist/js/chartist.min.js}"></script>
    <script
      th:src="@{/front/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js}"
    ></script>

    <script th:src="@{/front/js/dashboard/dashboard-1.js}"></script>
  </body>
</html>
