<!--**********************************
      Sidebar start
  ***********************************-->
<div th:fragment="sidebar">
  <div class="nk-sidebar">
    <div class="nk-nav-scroll">
      <ul class="metismenu" id="menu">
        <li>
          <a class="has-arrow" href="javascript:void()" aria-expanded="false">
            <i class="icon-settings menu-icon"></i
            ><span class="nav-text">Manage users</span>
          </a>
          <ul aria-expanded="false">
            <li>
              <a th:href="@{/accounts/list}">
                <i class="icon-people menu-icon"></i
                ><span class="nav-text">Users</span></a
              >
            </li>
            <li>
              <a th:href="@{/accounts/add}">
                <i class="icon-plus menu-icon"></i
                ><span class="nav-text">Add user</span></a
              >
            </li>
          </ul>
        </li>
        <li>
          <a class="has-arrow" href="javascript:void()" aria-expanded="false">
            <i class="icon-eyeglass menu-icon"></i
            ><span class="nav-text">Products</span>
          </a>
          <ul aria-expanded="false">
            <li>
              <a th:href="@{/product/list}">
                <i class="icon-list menu-icon"></i
                ><span class="nav-text">list of products</span></a
              >
            </li>
            <li>
              <a th:href="@{/product/add}">
                <i class="icon-plus menu-icon"></i
                ><span class="nav-text">add product</span></a
              >
            </li>
          </ul>
        </li>
        <li>
          <a class="has-arrow" href="javascript:void()" aria-expanded="false">
            <i class="icon-calender menu-icon"></i
            ><span class="nav-text">Year of stats</span>
          </a>
          <ul aria-expanded="false">
            <li>
              <a th:href="@{/year_statistics/list}">
                <i class="icon-list menu-icon"></i
                ><span class="nav-text">list of years</span></a
              >
            </li>
            <li>
              <a th:href="@{/year_statistics/add}">
                <i class="icon-plus menu-icon"></i
                ><span class="nav-text">add year stat</span></a
              >
            </li>
          </ul>
        </li>
        <li>
          <a class="has-arrow" href="javascript:void()" aria-expanded="false">
            <i class="icon-calculator menu-icon"></i
            ><span class="nav-text">SGR</span>
          </a>
          <ul aria-expanded="false">
            <li>
              <a th:href="@{/sgr/list}">
                <i class="icon-list menu-icon"></i
                ><span class="nav-text">list of SGRs</span></a
              >
            </li>
            <li>
              <a th:href="@{/sgr/add}">
                <i class="icon-plus menu-icon"></i
                ><span class="nav-text">add SGR</span></a
              >
            </li>
          </ul>
        </li>
        <li>
          <a class="has-arrow" href="javascript:void()" aria-expanded="false">
            <i class="icon-calculator menu-icon"></i
            ><span class="nav-text">CRR</span>
          </a>
          <ul aria-expanded="false">
            <li>
              <a th:href="@{/crr/list}">
                <i class="icon-list menu-icon"></i
                ><span class="nav-text">list of CRRs</span></a
              >
            </li>
            <li>
              <a th:href="@{/crr/add}">
                <i class="icon-plus menu-icon"></i
                ><span class="nav-text">add CRR</span></a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--**********************************
      Sidebar end
  ***********************************-->
