<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>
      Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com
    </title>
    <!-- Favicon icon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      th:href="@{front/../../assets/images/favicon.png}"
    />
    <link th:href="@{front/css/style.css}" rel="stylesheet" />
  </head>

  <body class="h-100">
    <!--*******************
    Preloader start
********************-->
    <div id="preloader">
      <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
          <circle
            class="path"
            cx="50"
            cy="50"
            r="20"
            fill="none"
            stroke-width="3"
            stroke-miterlimit="10"
          />
        </svg>
      </div>
    </div>
    <!--*******************
    Preloader end
********************-->

    <div class="login-form-bg h-100">
      <div class="container h-100">
        <div class="row justify-content-center h-100">
          <div class="col-xl-6">
            <div class="form-input-content">
              <div class="card login-form mb-0">
                <div class="card-body pt-5">
                  <a class="text-center" href="index.html"><h4>Rosella</h4></a>

                  <form
                    th:action="@{/login}"
                    method="POST"
                    class="mt-5 mb-5 login-input"
                  >
                    <div class="form-group">
                      <input
                        type="email"
                        id="email"
                        name="email"
                        class="form-control"
                        th:placeholder="Email"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="password"
                        id="password"
                        name="password"
                        class="form-control"
                        th:placeholder="Password"
                      />
                    </div>
                    <button
                      class="btn login-form__btn submit w-100"
                      name="Submit"
                      value="Login"
                      type="Submit"
                      th:text="Login"
                    >
                      Sign In
                    </button>
                    <p class="mt-5 login-form__footer">
                      Don't have an account?
                      <a th:href="@{/registration}" class="text-primary"
                        >Sign Up</a
                      >
                      now
                    </p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--**********************************
    Scripts
***********************************-->
    <script th:src="@{front/plugins/common/common.min.js}"></script>
    <script th:src="@{front/js/custom.min.js}"></script>
    <script th:src="@{front/js/settings.js}"></script>
    <script th:src="@{front/js/gleek.js}"></script>
    <script th:src="@{front/js/styleSwitcher.js}"></script>
  </body>
</html>
