<!DOCTYPE html>
<html lang="en">
  <div th:replace="fragments/head :: head"></div>

  <body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
      <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
          <circle
            class="path"
            cx="50"
            cy="50"
            r="20"
            fill="none"
            stroke-width="3"
            stroke-miterlimit="10"
          />
        </svg>
      </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
      <!--**********************************
            Nav header start
        ***********************************-->
      <div class="nav-header">
        <div class="brand-logo">
          <a href="index.html">
            <b class="logo-abbr"
              ><img th:src="@{/front/images/logo.png}" alt="" />
            </b>
            <span class="logo-compact"
              ><img th:src="@{/front/images/logo-compact.png}" alt=""
            /></span>
            <span class="brand-title">
              <img th:src="@{/front/images/logo-text.png}" alt="" />
            </span>
          </a>
        </div>
      </div>
      <!--**********************************
            Nav header end
        ***********************************-->

      <!--**********************************
            Header start
        ***********************************-->
      <div th:replace="fragments/header :: header"></div>

      <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

      <!--**********************************
            Sidebar start
        ***********************************-->
      <div th:replace="fragments/sidebar :: sidebar"></div>
      <!--**********************************
            Sidebar end
        ***********************************-->

      <!--**********************************
            Content body start
        ***********************************-->
      <div class="content-body">
        <div class="container-fluid mt-3">
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div th:switch="${crrList}" class="active-member">
                    <div class="table-responsive">
                      <div th:case="null" class="login-form-bg h-100">
                        <div class="login-form-bg h-100">
                          <div class="container h-100">
                            <div class="row justify-content-center h-100">
                              <div class="text-center mb-4 mt-4">
                                <div class="error-content">
                                  <div class="card mb-0">
                                    <div class="card-body text-center">
                                      <h4 class="mt-4">
                                        <i
                                          class="fa fa-warning text-danger"
                                        ></i>
                                        No crr data yet
                                      </h4>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div th:case="*">
                        <p style="font-size: medium">Quarter 1</p>
                        <table class="table table-xs mb-0">
                          <thead>
                            <tr>
                              <th>Product</th>
                              <th>Year</th>
                              <th>Tot. Customers Q1</th>
                              <th>Ret. Cust. Q1</th>
                              <th>Retention Rate Q1</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr th:each="crr : ${crrList}">
                              <td th:text="${crr.product.name} "></td>
                              <td th:text="${crr.yearStatistic.year} "></td>
                              <td th:text="${crr.totalCustomersQ1} "></td>
                              <td th:text="${crr.returningCustomersQ1}"></td>
                              <td th:text="${crr.retentionRateQ1}"></td>
                            </tr>
                          </tbody>
                        </table>
                        <br />
                        <p style="font-size: medium">Quarter 2</p>
                        <table class="table table-xs mb-0">
                          <thead>
                            <tr>
                              <th>Product</th>
                              <th>Year</th>
                              <th>Tot. Customers Q2</th>
                              <th>Ret. Cust. Q2</th>
                              <th>Retention Rate Q2</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr th:each="crr : ${crrList}">
                              <td th:text="${crr.product.name} "></td>
                              <td th:text="${crr.yearStatistic.year} "></td>
                              <td th:text="${crr.totalCustomersQ2} "></td>
                              <td th:text="${crr.returningCustomersQ2}"></td>
                              <td th:text="${crr.retentionRateQ2}"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <br />
                      <p style="font-size: medium">Quarter 3</p>
                      <table class="table table-xs mb-0">
                        <thead>
                          <tr>
                            <th>Product</th>
                            <th>Year</th>
                            <th>Tot. Customers Q3</th>
                            <th>Ret. Cust. Q3</th>
                            <th>Retention Rate Q3</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="crr : ${crrList}">
                            <td th:text="${crr.product.name} "></td>
                            <td th:text="${crr.yearStatistic.year} "></td>
                            <td th:text="${crr.totalCustomersQ3} "></td>
                            <td th:text="${crr.returningCustomersQ3}"></td>
                            <td th:text="${crr.retentionRateQ3}"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <br />
                    <p style="font-size: medium">Quarter 4</p>
                    <table class="table table-xs mb-0">
                      <thead>
                        <tr>
                          <th>Product</th>
                          <th>Year</th>
                          <th>Tot. Customers Q4</th>
                          <th>Ret. Cust. Q4</th>
                          <th>Retention Rate Q4</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="crr : ${crrList}">
                          <td th:text="${crr.product.name} "></td>
                          <td th:text="${crr.yearStatistic.year} "></td>
                          <td th:text="${crr.totalCustomersQ4} "></td>
                          <td th:text="${crr.returningCustomersQ4}"></td>
                          <td th:text="${crr.retentionRateQ4}"></td>
                        </tr>
                      </tbody>
                    </table>
                    <br />
                    <p style="font-size: medium">Update or delete</p>
                    <table class="table table-xs mb-0">
                      <thead>
                        <tr>
                          <th>Update</th>
                          <th>Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="crr : ${crrList}">
                          <td>
                            <a
                              th:href="@{/crr/edit/{id}(id=${crr.id})}"
                              class="btn btn-warning"
                              ><i class="fa fa-edit ml-2"></i
                            ></a>
                          </td>
                          <td>
                            <a
                              onclick="return confirm('Confirm deletion please!');"
                              th:href="@{/crr/delete/{id}(id=${crr.id})}"
                              class="btn btn-danger"
                            >
                              <i class="fa fa-trash ml-2"></i
                            ></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="d-flex justify-content-end mt-3">
                    <a th:href="@{/crr/add}" class="btn btn-primary ml-auto">
                      Add CRR
                      <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </a>
                    <a
                      th:href="@{/statistics/dashboard}"
                      class="btn btn-secondary ml-2"
                    >
                      Go to Dashboard <i class="fa fa-list ml-2"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #/ container -->
    <!--**********************************
            Content body end
        ***********************************-->

    <!--**********************************
            Footer start
        ***********************************-->
    <div class="footer">
      <div class="copyright">
        <p>
          Copyright &copy; Designed & Developed by
          <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018
        </p>
      </div>
    </div>
    <!--**********************************
            Footer end
        ***********************************-->
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script th:src="@{/front/plugins/common/common.min.js}"></script>
    <script th:src="@{/front/js/custom.min.js}"></script>
    <script th:src="@{/front/js/settings.js}"></script>
    <script th:src="@{/front/js/gleek.js}"></script>
    <script th:src="@{/front/js/styleSwitcher.js}"></script>

    <!-- Chartjs -->
    <script th:src="@{/front/plugins/chart.js/Chart.bundle.min.js}"></script>
    <!-- Circle progress -->
    <script
      th:src="@{/front/plugins/circle-progress/circle-progress.min.js}"
    ></script>
    <!-- Datamap -->
    <script th:src="@{/front/plugins/d3v3/index.js}"></script>
    <script th:src="@{/front/plugins/topojson/topojson.min.js}"></script>
    <script th:src="@{/front/plugins/datamaps/datamaps.world.min.js}"></script>
    <!-- Morrisjs -->
    <script th:src="@{/front/plugins/raphael/raphael.min.js}"></script>
    <script th:src="@{/front/plugins/morris/morris.min.js}"></script>
    <!-- Pignose Calender -->
    <script th:src="@{/front/plugins/moment/moment.min.js}"></script>
    <script
      th:src="@{/front/plugins/pg-calendar/js/pignose.calendar.min.js}"
    ></script>
    <!-- ChartistJS -->
    <script th:src="@{/front/plugins/chartist/js/chartist.min.js}"></script>
    <script
      th:src="@{/front/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js}"
    ></script>

    <script th:src="@{/front/js/dashboard/dashboard-1.js}"></script>
  </body>
</html>
